<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="cartMapper">

<resultMap type="kh.study.shop.cart.vo.CartVO" id="cart">
<id column="CART_CODE" property="cartCode"/>
<result column="ITEM_CODE" property="itemCode"/>
<result column="MEMBER_ID" property="memberId"/>
<result column="CART_AMOUNT" property="cartAmount"/>
<result column="REG_DATE" property="regDate"/>
<result column="TOTAL_PRICE" property="totalPrice"/>

<!-- <association property="cateInfo" resultMap="adminMapper.cate"/> -->
<association property="itemList" resultMap="itemMapper.item"/>

<!-- itemVO를 가져오면 cateInfo, imgList 둘다 있기 때문에  -->
</resultMap>


<!-- 장바구니 담기-->

<insert id="insertCart">

<selectKey resultType="String" keyProperty="cartCode" order="BEFORE">

SELECT 'CART_'|| LPAD(NVL(MAX(TO_NUMBER(SUBSTR(CART_CODE, 6))), 0) +1, 3, 0) FROM SHOP_CART

</selectKey>

MERGE INTO SHOP_CART
	USING DUAL
	ON(ITEM_CODE = #{itemCode} AND MEMBER_ID = #{memberId})

	WHEN MATCHED THEN
	UPDATE 
	SET
		CART_AMOUNT = CART_AMOUNT + #{cartAmount}
	  , TOTAL_PRICE = (CART_AMOUNT + #{cartAmount}) * 
 	 	(SELECT ITEM_PRICE FROM SHOP_ITEM WHERE ITEM_CODE = #{itemCode})
	WHERE MEMBER_ID = #{memberId}
	AND ITEM_CODE = #{itemCode}    

	WHEN NOT MATCHED THEN

	INSERT(   CART_CODE
			, ITEM_CODE
			, MEMBER_ID
			, CART_AMOUNT
			, TOTAL_PRICE
		)VALUES(
			  #{cartCode}
			, #{itemCode}
			, #{memberId}
			, #{cartAmount}
			, (SELECT ITEM_PRICE FROM SHOP_ITEM 
				WHERE ITEM_CODE = #{itemCode}) * #{cartAmount}
		)

</insert>


<!-- 장바구니 리스트 -->
<select id="cartList" resultMap="cart">

SELECT CART_CODE
	 , S.ITEM_CODE
	 , CART_AMOUNT
	 , TO_CHAR(T.REG_DATE,'YYYY-MM-DD') AS REG_DATE
	 , TOTAL_PRICE
	 , CATE_NAME
	 , ITEM_NAME
	 , ATTACHED_NAME
	 , ITEM_PRICE
FROM ITEM_CATEGORY C, SHOP_ITEM S, ITEM_IMG G, SHOP_CART T
WHERE C.CATE_CODE = S.CATE_CODE
AND S.ITEM_CODE = T.ITEM_CODE
AND S.ITEM_CODE = G.ITEM_CODE
AND IS_MAIN = 'Y'
AND MEMBER_ID = #{memberId}
ORDER BY CART_CODE DESC

</select> 


<!-- 장바구니 수량변경 -->
<update id="changeCnt">
UPDATE SHOP_CART
SET CART_AMOUNT = #{cartAmount}
  , TOTAL_PRICE = (SELECT ITEM_PRICE 
	               FROM SHOP_ITEM
	 			   WHERE ITEM_CODE = (SELECT ITEM_CODE 
	 								  FROM SHOP_CART
	 								  WHERE CART_CODE = #{cartCode}))*#{cartAmount}

WHERE CART_CODE = #{cartCode}

</update>


<!-- 장바구니 선택삭제 -->
<delete id="deleteCart">
	DELETE SHOP_CART
	WHERE CART_CODE IN  
		<!-- cartVO.getCartCodeList()  -> cart_001, cart_002 여러개 들어가 있다 -->
	<foreach collection="cartCodeList" item="cartCode" open="(" close=")" separator=",">
 		#{cartCode}
	</foreach>
</delete>

<!-- 장바구니 선택구매 -->
<select id="buyInfo" resultMap="cart">
   SELECT ITEM_CODE
    , (SELECT ITEM_NAME
        FROM SHOP_ITEM
        WHERE ITEM_CODE = C.ITEM_CODE)AS ITEM_NAME
    , (SELECT ITEM_PRICE
        FROM SHOP_ITEM
        WHERE ITEM_CODE = C.ITEM_CODE)AS ITEM_PRICE
    , CART_AMOUNT
    , (SELECT ATTACHED_NAME
        FROM ITEM_IMG
        WHERE ITEM_CODE = C.ITEM_CODE
        AND IS_MAIN = 'Y') AS ATTACHED_NAME
    , CART_CODE
   FROM SHOP_CART C
   WHERE CART_CODE IN   
   <foreach collection="cartCodeList" item="cartCode" separator="," open="(" close=")" >
       #{cartCode}
   </foreach>      
   ORDER BY CART_CODE DESC

</select>


<!-- 상세페이지 구매하기 버튼 -->
<select id="detailBuy" resultMap="itemMapper.item">
SELECT ITEM_CODE
   	 , ITEM_NAME
   	 , ITEM_PRICE
     , (SELECT ATTACHED_NAME
        FROM ITEM_IMG
        WHERE ITEM_CODE = S.ITEM_CODE AND IS_MAIN = 'Y') AS ATTACHED_NAME
FROM SHOP_ITEM S
WHERE ITEM_CODE = #{itemCode} 
   
</select>

</mapper>


