<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="itemMapper">
<resultMap type="kh.study.shop.item.vo.ItemVO" id="item">
<id column="ITEM_CODE" property="itemCode"/>
<result column="ITEM_NAME" property="itemName"/>
<result column="ITEM_PRICE" property="itemPrice"/>
<result column="ITEM_COMMENT" property="itemComment"/>
<result column="REG_DATE" property="regDate"/>
<result column="ITEM_STOCK" property="itemStock"/>
<result column="CATE_CODE" property="cateCode"/>
<result column="ITEM_STATUS" property="itemStatus"/>

<association property="cateInfo" resultMap="adminMapper.cate"/>

<!-- imgVO 여러개를 imgList에 담겠다 -->
<!-- 컬렉션은 제일 마지막에 있어야 한다. 쿼리의 내부적 흐름 때문에 -->
<collection property="imgList" resultMap="adminMapper.img"/>

<!-- 실제로 실행하면 ImgList(imgVO(), imgVO()...이런식으로 
attachedName부분만 다르게 들어가 있음) -->


</resultMap>


<!-- 상품목록 조회  -->					<!-- 빈값을 무엇으로 채울것인지 즉 map이 넘어올거야 -->
<select id="selectItem" resultMap="item" parameterType="hashMap"><!-- 작성하지 않아도 알아서 가져옴 -->
	SELECT ITEM_NAME
		, ITEM_CODE
		, TO_CHAR(REG_DATE, 'YYYY-MM-DD') AS REG_DATE
		, ITEM_STOCK
		, (SELECT CATE_NAME FROM ITEM_CATEGORY WHERE CATE_CODE = S.CATE_CODE) AS CATE_NAME
		, ITEM_STATUS
		, ITEM_PRICE
		, ITEM_COMMENT
		, CATE_CODE
	FROM SHOP_ITEM S
	WHERE 1=1
	<!--모두 if 조건절 넣기  -->  <!-- null 아니고 빈문자가 아니면 실행하라 -->
	<if test="cateCode != null and !cateCode.equals('')"> 
      AND CATE_CODE = #{cateCode}
      </if>
      <if test="itemName != null and !itemName.equals('')">
      AND UPPER(ITEM_NAME) LIKE UPPER('%'||#{itemName}||'%')
      </if>      
      <if test="itemStock != null and !itemStock.equals('')">
      AND ITEM_STOCK &lt;= #{itemStock}
      </if>      
      
      <if test="fromDate != null and !fromDate.equals('')">
  	  AND TO_CHAR(REG_DATE, 'YYYY-MM-DD') &gt;= #{fromDate}  
      </if>
      
      <if test="toDate != null and !toDate.equals('')">
      AND TO_CHAR(REG_DATE, 'YYYY-MM-DD') &lt;= #{toDate}
      </if>
      
      <if test="itemStatus !=null and !itemStatus.equals('')">
      AND ITEM_STATUS = #{itemStatus}
      </if>
	
</select>

<!-- 상품 메인화면 /컬렉션 사용 -->
<select id="mainItem" resultMap="item">
SELECT ITEM_NAME 
	, ITEM_PRICE
	, S.ITEM_CODE
	, ATTACHED_NAME
FROM SHOP_ITEM S, ITEM_IMG I
WHERE I.ITEM_CODE = S.ITEM_CODE
AND IS_MAIN = 'Y'
ORDER BY I.ITEM_CODE DESC 
</select>


<!-- 상품 상태 변경 -->
<update id="changeItemStatus">
UPDATE SHOP_ITEM
		SET ITEM_STATUS = #{itemStatus}
		WHERE ITEM_CODE = #{itemCode}

</update>

<!-- 재고수량 변경 -->
<update id="changeStock">
UPDATE SHOP_ITEM
		SET ITEM_STOCK = #{itemStock}
		WHERE ITEM_CODE = #{itemCode}

</update>


<!--상세조회  -->
<select id="itemDetail" resultMap="item">
SELECT S.ITEM_CODE
	 , ITEM_PRICE
	 , ITEM_NAME
	 , ITEM_COMMENT
	 , CATE_NAME 
	 , ATTACHED_NAME 
	 , IS_MAIN
	 , ITEM_STOCK
FROM SHOP_ITEM S, ITEM_IMG I, ITEM_CATEGORY C
WHERE S.ITEM_CODE = I.ITEM_CODE 
AND S.CATE_CODE = C.CATE_CODE
AND S.ITEM_CODE = #{itemCode}

</select>


</mapper>
