<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout ="http://www.ultrap.net.nz/thymeleaf/layout"	
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div layout:fragment ="content">

	<div>
		<div data-name="java" data-age="66" data-totalPrice="100" data-total-price="300"
		 id="testDiv"></div>
	</div>
	

<script type="text/javascript">

	const testDiv = document.querySelector('#testDiv');
	console.log(testDiv.dataset);
	console.log(testDiv.dataset.name);
	console.log(testDiv.dataset.age);
	//소문자로 작성해야 한다.
	console.log(testDiv.dataset.totalprice);
	//대문자 작성은 -로 연결해서 작성한다.
	console.log(testDiv.dataset.totalPrice);

</script>

</div>

</body>
</html>